In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('l1.csv')

In [9]:
df.loc[df.val==1]

    d  s  e  r  o  y  val
1   0  0  0  4  0  s    1
12  0  4  0  0  0  o    1
14  0  0  4  0  0  d    1
31  4  0  0  0  0  r    1
36  0  0  0  0  4  e    1

In [16]:
x = df.loc[df.val==0].drop('val', axis=1)
x['sum'] = x.d + x.s + x.e + x.r + x.o
x.sort_values(by=['y', 'sum'])

    d  s  e  r  o  y  sum
2   0  3  0  0  0  d    3
9   0  0  0  2  1  d    3
3   0  1  1  1  1  d    4
16  0  2  0  0  2  d    4
13  3  1  0  0  1  d    5
25  0  1  2  1  1  d    5
26  0  2  2  0  1  d    5
6   0  0  0  3  0  e    3
23  2  1  0  0  0  e    3
7   0  2  0  2  0  e    4
38  1  1  0  1  1  e    4
5   1  1  0  1  2  e    5
24  1  3  1  0  0  e    5
35  0  1  0  2  2  e    5
11  0  0  3  0  0  o    3
27  0  0  2  1  0  o    3
10  1  1  1  1  0  o    4
18  2  0  2  0  0  o    4
15  1  2  1  1  0  o    5
28  2  2  0  1  0  o    5
32  0  0  1  3  1  o    5
8   0  2  1  0  0  r    3
30  3  0  0  0  0  r    3
33  1  1  1  0  1  r    4
37  2  0  0  2  0  r    4
19  1  0  0  1  3  r    5
29  2  1  1  0  1  r    5
34  2  0  1  0  2  r    5
17  0  0  0  0  3  s    3
39  1  0  0  0  2  s    3
20  0  0  2  0  2  s    4
21  1  0  1  1  1  s    4
0   0  1  3  1  0  s    5
4   1  0  2  2  0  s    5
22  1  0  1  2  1  s    5

In [1]:
import numpy as np

In [2]:
a = [ 1, 2, 3 ]
b = [ 3, 2, 5 ]
np.intersect1d(a, b)

array([2, 3])

In [25]:
a = np.array([1, 2, 3])
b = np.array([3, 2, 5])
print(a)
print(b)
np.where(a == b, 'Yes', 'No')

[1 2 3]
[3 2 5]

array(['No', 'Yes', 'No'], dtype='<U3')